@import "tailwindcss";
@theme {
  --font-syne: "Syne", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-serif: "DM Serif Display", serif;
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-gothic: "League Gothic", sans-serif;
  --font-dm: "DM Sans", sans-serif;
}
